*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

/*
Classes Auxiliares
*/

.center{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
}

.clear{
    clear: both;
}

.w50{
    float: left;
    width: 50%;
    padding: 0 15px;
}

/**/

section.topo{
    background-image: linear-gradient(114deg, #250e8a, #00f9f7);
    padding-top: 40px;
    padding-bottom: 80px;
}

.logo{
    float: left;
}

.menu-desktop{
    float: right;
}

.menu-desktop li{
    display: inline-block;
    margin: 0 15px;
}

.menu-desktop a{
    text-decoration: none;
    color: white;
    opacity: 0.6;
}

.menu-desktop a:hover{
    opacity: 1;
}

.time-descricao{
    margin-top: 50px;
    color: white;
}

.time-descricao h2{
    font-size: 45px;
}

.time-descricao p{
    font-size: 14px;
    margin-top: 10px;
    max-width: 240px;
}

.time-descricao a{
    text-decoration: none;
    color: #1b49a5;
    background: #ffca00;
    box-shadow: 0 20px 30px 0 rgba(37,15,138,0.2);
    display: inline-block;
    margin-top: 14px;
    padding: 10px 8px;
    font-weight: bold;
    border-radius: 7px;
}

.time-imagem img{
    max-width: 100%;
}

.circle{
    width: 70px;
    height: 70px;
    background-color: #ffffff;
    box-shadow: 0 10px 25px 0 rgba(37,15,139,0.1);
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -20px;
}

.circle i{
    font-size: 30px;
    color: #1c4aa6;
    position: relative;
    top: 5px;
}

section.clientes-slider{
    padding: 60px 0;
}

section.clientes-slider{
    padding: 60px 0;
}

.slider-container img{
    padding: 0 20px;
}

/*SLICK SLIDER*/

.slick-dotted ul{
    list-style-type: none;
    text-align: center;
    position: relative;
    margin-top: 10px;
}

.slick-dotted li{
    display: inline-block;
    margin: 0 7px;
}

.slick-dotted button:focus{
    outline: 0;
}

.slick-dotted li button{
    width: 16px;
    height: 16px;
    border-radius: 8px;
    color: #d8d8d8;
    opacity: 1;
    cursor: pointer;
}

li.slick-active button{
    background: #0c3f8a;
    color: #0c3f8a;
}

.slick-slide:focus{
    outline: none;
}

/*END SLICK*/

section.diferenciais{
    padding: 30px 0;
}

section.diferenciais h2{
    color: #202020;
    font-size: 30px;
    font-weight: normal;
    text-align: center;
}

.icons-diferenciais{
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
}

.box-single-diferenciais{
    text-align: center;
    width: 33.3%;
    padding: 0 10px;
    margin-bottom: 30px;
}

.box-single-diferenciais img{
    max-width: 100%;
}

.box-single-diferenciais h3{
    font-size: 17px;
    margin: 10px 0;
    color: #202020;
}

.box-single-diferenciais p{
    font-size: 14px;
    color: #202020;
}

@media screen and (max-width: 768px){
    .box-single-diferenciais{
        width: 100%;
    }

    .w50{
        width: 100%;
    }
}

